body {
    color: #0e0d0d;
    background-color:peru
    
  }
  .jumbotron {
    background-image: url("../../images/BellyButton.png");
    background-size: 33% 100%;
    text-align: center;
    opacity: 80;
  }